.fl {float: left;}
.fr {float: right;}
.clear {clear: both}
.cursorP {
    cursor: pointer;
}
.pageBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}
.blueblack {color: #0C213E;}
.m-blue {color: #0091FF}
.m-green {color: #2BC807}
.m-orange {color: #FD9F26}
.m-red {color: #FD6161}
.com-tit {
    font-size: 16px;
}
/*layui样式修改*/
.layui-form-select dl dd.layui-this , .layui-form-checked span, .layui-form-checked:hover span{
    background-color: #217BFA;
}
.layui-form-checked i, .layui-form-checked:hover i {
    color: #217BFA;
}
.layui-form-item{
    margin: 0;
}
.layui-form-item .layui-form-checkbox{
    margin-top: 0;
}
.layui-btn-normal{
    background-color: #217BFA;
}
.layui-form-checkbox {
    position: relative;
    height: 38px;
    line-height: 38px;
    margin-right: 10px;
    padding-right: 38px;
}
.layui-form-checkbox i {
    width: 38px;
    height: 36px;
}
.layui-form-label {
    padding: 9px 10px 9px 0;
    width: auto;
}
.layui-laydate-footer span:hover{
    color:#217BFA !important;
}
.layui-laypage a:hover, .layui-laypage span:hover {
    color: #217BFA;
}
.btn_reset , .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #217BFA !important;
}
/*图表box*/
.charts_box{
    width: 80%;
    margin-top: 30px;
}
.data-card {
    background: #FFFFFF;
    padding: 20px;
    color: #A3A8AE;
    font-size: 14px;
    border-radius: 8px;
}
.charts {
    width: 100%;
    height: 500px;
}
.layui-btn-primary:hover {
    border-color: #217BFA;
    color: #217BFA;
}
.layui-input, .layui-textarea {
    border-color: #EAF2FE;
}
.showLoading{
    opacity: 0.1;
}